@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  // overflow: hidden; Обоезает сегмент круга в hero за рамками контейнера при ширине 320
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
