@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

#button {
  display: inline-block;
  background-color: #ffa5ba;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "Up";
  font-family: "Titan One", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #ffffff;
}

#button:hover,
#button:focus {
  cursor: pointer;
  background-color: #e17992;
}

#button:active {
  background-color: #d31342;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */
.content {
  width: 77%;
  margin: 50px auto;
  font-family: "Merriweather", serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}

@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #button {
    margin: 30px;
  }
}
.button {
  background: #ffffff;
  color: #d41443;
  fill: #d41443;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.31;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border-radius: 22px;
  border: 0;
  transition-property: box-shadow, background-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.active {
  background-color: #ecebeb;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button:hover, .button:focus {
  background-color: #ecebeb;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  padding: 20px 0;
  background-color: #e17992;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
  box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
  transition: transform 1000ms;
  transform: translateX(0);
}
.mobile-menu.is-hidden {
  transform: translateX(115%);
}
.mobile-menu__close {
  display: block;
  margin-left: auto;
  margin-right: 25px;
  padding: 0;
  color: #ffffff;
  background-color: inherit;
}
.mobile-menu__close:hover, .mobile-menu__close:focus {
  color: #d41443;
}
.mobile-menu__close-logo {
  display: block;
  width: 30px;
  height: 30px;
  fill: currentColor;
}
.mobile-menu__link {
  display: block;
  padding: 11px 20px;
  border: 1px solid #e18298;
}
.mobile-menu__link:hover {
  color: #d41443;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.subtitle {
  font-family: "Titan One", sans-serif;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  color: #ffa5ba;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .subtitle {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media (min-width: 1200px) {
  .subtitle {
    line-height: 1.13;
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}

.title {
  font-family: "Titan One", sans-serif;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  color: #d41443;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .title {
    font-size: 48px;
  }
}
@media (min-width: 1200px) {
  .title {
    line-height: 1.14;
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}

/* Стилі підложки */
.overlay {
  /* Приховуємо підложку */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стилі модального вікна */
.modal {
  /* Приховуємо вікно  */
  opacity: 0;
  visibility: hidden;
  /*  Встановлюємо ширину вікна  */
  width: calc(100% - 10px);
  max-width: 500px;
  /*  Центрируємо і задаемо z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  z-index: 30; /* Має бути більше ніж в підложки*/
  /*  Побочні стилі   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  background-color: #ffa5ba;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стилі для активних класів */
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

/* Стилі для кнопки закриття */
.modal__cross {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  fill: #e17992;
  background-color: inherit;
}
.modal__cross:hover, .modal__cross:focus {
  fill: #d41443;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__fild {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
}
.form__fild--last {
  margin-bottom: 20px;
}
.form__text {
  margin-bottom: 4px;
  margin-left: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #d41443;
}
.form__input {
  width: 100%;
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  border: 2px solid transparent;
  color: #d41443;
  border: none;
  border-radius: 20px;
  padding: 3px 16px;
}
.form__input:hover, .form__input:focus, .form__input:active, .form__input:focus-visible {
  border: 2px solid #d41443;
}
.form__input--comment {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}
.form__input--comment::-moz-placeholder {
  color: #ffa5ba;
}
.form__input--comment:-ms-input-placeholder {
  color: #ffa5ba;
}
.form__input--comment::placeholder {
  color: #ffa5ba;
}

.checkbox {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox__input:checked + .checkbox__new-box {
  background-origin: border-box;
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-size: cover;
  border: none;
}
.checkbox__link {
  color: inherit;
  font-style: italic;
}
.checkbox__new-box {
  display: flex;
  margin-left: 16px;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.checkbox__new-box:hover {
  cursor: pointer;
}

.modal__btn {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  padding: 10px;
  background-color: #e17992;
  color: #ffffff;
}
.modal__btn:hover, .modal__btn:focus {
  background-color: #d41443;
}

.about-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  width: 92%;
  max-width: 450px;
  background-color: #fff5f6;
  background-image: url(/src/images/about/about-milk-bg-1200@1x.png);
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  transition: 0.3s all;
  padding: 30px;
}
@media (min-width: 768px) {
  .about-modal {
    max-width: 600px;
  }
}
@media (min-width: 1200px) {
  .about-modal {
    margin-top: 20p;
  }
}
.about-modal__title {
  margin-bottom: 20px;
}
.about-modal__read {
  font-size: 500;
}
.about-modal__descr {
  font-size: 13px;
  line-height: 2;
}
.about-modal__cross {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #c7133e;
  border-radius: 50%;
  cursor: pointer;
}
.about-modal__cross:hover, .about-modal__cross:focus {
  background-color: #e17992;
}
.about-modal__form {
  display: grid;
}
.about-modal__label {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 1.58;
  font-weight: 500;
  color: #c7133e;
}
@media (min-width: 768px) {
  .about-modal__label {
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 1200px) {
  .about-modal__label {
    font-size: 16px;
    line-height: 1.75;
  }
}
.about-modal__input {
  margin-bottom: 20px;
  border: 2px solid;
  border-radius: 4px;
  border-color: #c7133e;
  color: #c7133e;
  padding: 20px;
}
.about-modal__input:hover, .about-modal__input:focus, .about-modal__input:active {
  border-color: #d31342;
}
.about-modal__input::-moz-placeholder {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 1.58;
  font-weight: 500;
  color: #c7133e;
}
.about-modal__input:-ms-input-placeholder {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 1.58;
  font-weight: 500;
  color: #c7133e;
}
.about-modal__input::placeholder {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 1.58;
  font-weight: 500;
  color: #c7133e;
}
.about-modal__share {
  padding: 5px 15px;
}
.about-modal__icon {
  width: 10px;
  height: 10px;
}

.section.header-hero {
  background-color: #ffb8ca;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: "DM Sans", sans-serif;
  position: relative;
  z-index: 15;
}
.header.container {
  padding-top: 8px;
  padding-bottom: 60px;
}
@media screen and (min-width: 780px) {
  .header.container {
    padding-top: 32px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header.container {
    padding-top: 37px;
    padding-bottom: 60px;
  }
}

.logo__svg {
  display: block;
  width: 200px;
  height: 50px;
  fill: #d41443;
}
.nav {
  display: none;
  z-index: 10;
}
@media screen and (min-width: 1200px) {
  .nav {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
  }
}
.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 35px;
}
.nav__link {
  color: #ffffff;
}
.nav__link:hover {
  color: #d41443;
}

.header-btn__section {
  display: flex;
  align-items: center;
}
.header-btn__burger {
  border: none;
  background-color: transparent;
  display: flex;
  padding: 0;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .header-btn__burger {
    display: none;
  }
}
.header-btn__buy {
  align-items: center;
  justify-content: space-between;
  height: 44px;
  width: 160px;
  padding-left: 37px;
  padding-right: 37px;
}
.header-btn__buy.mobile {
  display: flex;
  width: 209px;
  padding-left: 49px;
  padding-right: 49px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .header-btn__buy.mobile {
    width: 186px;
    padding-left: 43px;
    padding-right: 43px;
  }
}
.header-btn__buy.position {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header-btn__buy.position {
    margin-left: 32px;
    display: flex;
  }
}

.buy__logo {
  width: 8px;
  height: 10px;
}

.burger__logo {
  width: 30px;
  height: 30px;
  fill: #d41443;
}

.icecream__ellipse {
  position: absolute;
  bottom: 40px;
  left: 36px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: #ffa5ba;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .icecream__ellipse {
    left: 248px;
    width: 335px;
    height: 333px;
  }
}
@media screen and (min-width: 1200px) {
  .icecream__ellipse {
    bottom: 80px;
    left: 517px;
    width: 534px;
    height: 534px;
  }
}
.icecream__img {
  display: block;
  max-width: 100%;
  width: 171px;
}
@media screen and (min-width: 768px) {
  .icecream__img {
    width: 143px;
  }
}
@media screen and (min-width: 1200px) {
  .icecream__img {
    width: 236px;
  }
}
.icecream__pic {
  position: absolute;
  bottom: 0px;
  left: 117px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .icecream__pic {
    left: 322px;
  }
}
@media screen and (min-width: 1200px) {
  .icecream__pic {
    left: 636px;
  }
}

.hero {
  position: relative;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #ffffff;
  z-index: 10;
}
.hero.container {
  padding-top: 0px;
  padding-bottom: 158px;
}
@media screen and (min-width: 768px) {
  .hero.container {
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .hero.container {
    padding-bottom: 60px;
  }
}
.hero__title {
  display: block;
  max-width: 220px;
  font-size: 26px;
  line-height: 1.15;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 22px;
    max-width: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 277px;
    font-size: 38px;
  }
}
.hero__title .accent {
  color: #d41443;
  font-size: 34px;
  line-height: 0.9;
}
@media screen and (min-width: 1200px) {
  .hero__title .accent {
    font-size: 58px;
  }
}
.hero__btn {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    margin-top: 24px;
    margin-bottom: 40px;
  }
}
.hero__link:last-child {
  margin-left: 12px;
}
.hero__link-a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  font-weight: 400;
  height: 24px;
}
@media screen and (min-width: 1200px) {
  .hero__link-a {
    height: 40px;
    font-size: 14px;
  }
}
.hero__link-a.a {
  width: 62px;
  background-color: #d41443;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__link-a.a {
    width: 107px;
  }
}
.hero__link-a.a:hover, .hero__link-a.a:focus {
  color: #d41443;
  background-color: #ecebeb;
}
.hero__link-a.b {
  width: 83px;
}
@media screen and (min-width: 1200px) {
  .hero__link-a.b {
    width: 138px;
  }
}
.hero__article {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__article {
    display: flex;
  }
}

h1 {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.15;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .article__pic-place {
    width: 152px;
    height: 154px;
  }
}
@media screen and (min-width: 1200px) {
  .article__pic-place {
    width: 213px;
    height: 216px;
  }
}
.article__contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article__text {
  width: 114px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
}
@media screen and (min-width: 1200px) {
  .article__text {
    font-size: 14px;
    line-height: 1.4;
    width: 200px;
  }
}
.article__btn {
  margin-top: 20px;
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #ffffff;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .article__btn {
    margin-top: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .article__btn {
    margin-top: 20px;
  }
}
.article__btn > svg {
  width: 6px;
  height: 6px;
  fill: currentColor;
}

.insert {
  display: none;
  position: absolute;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .insert {
    display: block;
    top: 0;
    right: 0;
  }
}
.insert__item {
  position: relative;
}
.insert__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: -1;
}
.insert__item:last-child {
  margin-top: 16px;
}
.insert__number {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 46px;
  line-height: 1.15;
  margin-right: 10px;
  text-transform: uppercase;
  color: #d41443;
  z-index: 5;
}
.insert__title {
  font-family: "DM Sans", sans-serif;
  font-size: 8px;
  line-height: 1.3;
}
@media screen and (min-width: 1200px) {
  .insert__title {
    font-size: 14px;
  }
}
.insert__girl {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 190px;
  height: 150px;
}
@media screen and (max-width: 767px) {
  .insert__girl {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .insert__girl {
    width: 304px;
    height: 241px;
  }
}

.title {
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-family: "Titan One", sans-serif;
  color: #d41443;
  margin-bottom: 0px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 58px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .title {
    font-size: 48px;
  }
}

.products__title-wrap {
  text-align: center;
  margin-bottom: 162px;
}
@media screen and (min-width: 1200px) {
  .products__title-wrap {
    margin-bottom: 281px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__title-wrap {
    margin-bottom: 158px;
  }
}
.products__item {
  position: relative;
  width: calc(100% - 140px);
  margin: 70px;
  padding: 160px 53px 40px 53px;
  border-radius: 24px;
}
@media screen and (min-width: 1200px) {
  .products__item {
    width: calc((100% - 64px) / 3);
    margin: 16px;
    padding: 165px 64px 60px 64px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item {
    width: calc((100% - 32px) / 3);
    margin: 8px;
    padding: 118px 25px 40px 25px;
  }
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  margin: -70px;
}
@media screen and (min-width: 1200px) {
  .products__list {
    margin: -16px;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__list {
    margin: -8px;
    flex-wrap: nowrap;
  }
}
.products__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: "Titan One", sans-serif;
  color: #ffffff;
  font-weight: 400;
}
@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 30px;
    line-height: 1.14;
  }
}
.products__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  font-family: "DM Sans";
  color: #ffffff;
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .products__text {
    font-size: 16px;
    line-height: 1.75;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__text {
    line-height: 1.79;
  }
}
.products__btn {
  display: flex;
  justify-content: center;
  margin: 32px auto 0 auto;
  cursor: pointer;
  border: none;
  padding: 0;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .products__btn {
    margin: 60px auto 0 auto;
  }
}

.products__item-cream {
  background-color: #ffb8ca;
}
.products__item-cream::before {
  position: absolute;
  content: "";
  left: 0;
  top: -140px;
  display: block;
  width: 100%;
  height: 280px;
  background-image: url(/src/images/products/product-1-320@1x.png);
  background-size: 280px 280px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1200px) {
  .products__item-cream::before {
    height: 384px;
    top: -261px;
    background-image: url(/src/images/products/product-1-1200@1x.png);
    background-size: 368px 384px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item-cream::before {
    top: -138px;
    height: 224px;
    background-image: url(/src/images/products/product-1-768@1x.png);
    background-size: 224px 224px;
  }
}

.products__item-coffee {
  background-color: #f0d1a5;
}
.products__item-coffee::before {
  position: absolute;
  content: "";
  left: 0;
  top: -140px;
  display: block;
  width: 100%;
  height: 280px;
  background-image: url(/src/images/products/product-2-320@1x.png);
  background-size: 280px 280px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1200px) {
  .products__item-coffee::before {
    height: 384px;
    top: -261px;
    background-image: url(/src/images/products/product-2-1200@1x.png);
    background-size: 368px 384px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item-coffee::before {
    top: -138px;
    height: 224px;
    background-image: url(/src/images/products/product-2-768@1x.png);
    background-size: 224px 224px;
  }
}

.products__item-milkshakes {
  background-color: #c2e297;
}
.products__item-milkshakes::before {
  position: absolute;
  content: "";
  left: 0;
  top: -140px;
  display: block;
  width: 100%;
  height: 280px;
  background-image: url(/src/images/products/product-3-320@1x.png);
  background-size: 280px 280px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1200px) {
  .products__item-milkshakes::before {
    height: 384px;
    top: -261px;
    background-image: url(/src/images/products/product-3-1200@1x.png);
    background-size: 368px 384px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item-milkshakes::before {
    top: -138px;
    height: 224px;
    background-image: url(/src/images/products/product-3-768@1x.png);
    background-size: 224px 224px;
  }
}

.products__title::after {
  content: "...";
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 22px;
  padding: 32px 0 32px 0;
}

.about {
  background-image: linear-gradient(#fff, #fff5f6);
  position: relative;
}
.about__bg-desctop {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
@media (max-width: 1199px) {
  .about__bg-desctop {
    display: none;
  }
}
.about__bg-desctop-img {
  width: 100%;
}
@media (min-width: 768px) {
  .about__main {
    display: flex;
  }
}
.about__bg-image {
  width: 100%;
}
.about__title-box {
  display: grid;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .about__title-box {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .about__title-box {
    margin-bottom: 60px;
  }
}
.about__label {
  margin-bottom: 16px;
}
.about__cow-box {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .about__cow-box {
    margin-bottom: 0;
    margin-right: 32px;
  }
}
@media (min-width: 1200px) {
  .about__cow-box {
    margin-right: 99px;
  }
}
.about__img {
  width: 280px;
}
@media (min-width: 768px) {
  .about__img {
    width: 336px;
  }
}
@media (min-width: 1200px) {
  .about__img {
    width: 500px;
  }
}
.about__box {
  position: relative;
}
@media (min-width: 1200px) {
  .about__box {
    margin-top: 90px;
  }
}
.about__bg-mobile {
  position: absolute;
  top: 22%;
  left: 0;
  right: 0;
}
.about__bg-mob {
  width: 100%;
}
@media (min-width: 768px) {
  .about__bg-mob {
    display: none;
  }
}
.about__text-box {
  width: 220px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .about__text-box {
    width: 334px;
    height: 79px;
  }
}
@media (min-width: 1200px) {
  .about__text-box {
    width: 463px;
    margin-bottom: 32px;
  }
}
.about__text {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 1.58;
  font-weight: 500;
}
@media (min-width: 768px) {
  .about__text {
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 1200px) {
  .about__text {
    font-size: 16px;
    line-height: 1.75;
  }
}
.about__description-box {
  width: 220px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .about__description-box {
    width: 334px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .about__description-box {
    width: 463px;
  }
}
.about__description {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 1.58;
  font-weight: 500;
  color: #907e82;
}
@media (min-width: 768px) {
  .about__description {
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 1200px) {
  .about__description {
    font-size: 16px;
    line-height: 1.75;
  }
}
.about__paragraph {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .about__paragraph {
    margin-top: 16px;
  }
}
@media (min-width: 1200px) {
  .about__paragraph {
    margin-top: 20p;
  }
}
.about__button {
  padding: 10px 37px;
}
.about__icon {
  width: 8px;
  height: 10px;
  margin-left: 14px;
  fill: #d41443;
}

.advantages {
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .advantages-grid {
    display: flex;
    justify-content: flex-start;
  }
}
.advantages-grid__item {
  width: 230px;
}
@media screen and (max-width: 767px) {
  .advantages-grid__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.advantages-grid__item--item1::before {
  content: url("../images/advantages/advantages-1.png");
}

.advantages-grid__item--item2::before {
  content: url("../images/advantages/advantages-2.png");
}

.advantages-grid__item--item3::before {
  content: url("../images/advantages/advantages-3.png");
}

.advantages__text_axcent.title {
  margin-top: 16px;
  margin-bottom: 20px;
  font-size: 36px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .advantages__text_axcent.title {
    margin-top: 36px;
    margin-bottom: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text_axcent.title {
    margin-top: 40px;
    margin-bottom: 16px;
    letter-spacing: 0.04em;
  }
}

.advantages__text {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    line-height: 1.74;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02;
  }
}

@media screen and (min-width: 768px) {
  .advantages-grid__item.advantages-grid__item--item1 {
    width: 180px;
    margin-right: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-grid__item.advantages-grid__item--item1 {
    width: 288px;
    margin-right: 115px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-grid__item.advantages-grid__item--item2 {
    width: 162px;
    margin-right: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-grid__item.advantages-grid__item--item2 {
    width: 317px;
    margin-right: 80px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-grid__item.advantages-grid__item--item3 {
    width: 159px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-grid__item.advantages-grid__item--item3 {
    width: 288px;
  }
}

.gallery {
  background-image: linear-gradient(#fff5f6, #fff);
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding-top: 60px;
  }
}

.gallery__container {
  margin: 0 auto;
  max-width: 320px;
}
@media screen and (min-width: 768px) {
  .gallery__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__container {
    max-width: 1013px;
    margin: 0 auto;
  }
}

.reviews {
  margin-top: 0;
}

.reviews-card {
  position: relative;
}
.reviews-card::before {
  content: "";
  position: absolute;
  top: 147px;
  left: 53px;
  width: 54px;
  height: 40px;
  background-image: url(../images/reviews/double-comma.png);
}
@media screen and (min-width: 768px) {
  .reviews-card::before {
    top: 125px;
    left: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-card::before {
    top: 133px;
    left: 195px;
  }
}
.reviews-card__box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.reviews-card__photo {
  margin-bottom: 75px;
}
@media screen and (min-width: 768px) {
  .reviews-card__photo {
    margin-bottom: 57px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-card__photo {
    margin-bottom: 63px;
  }
}
.reviews-card__txt-box {
  position: relative;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 36px;
  padding: 0 15px;
  background: repeating-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 30px, #e1e1e1 30px, #e1e1e1 31px);
}
@media screen and (min-width: 768px) {
  .reviews-card__txt-box {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 24px;
    padding: 0 45px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-card__txt-box {
    margin-right: 190px;
    margin-left: 190px;
    margin-bottom: 36px;
    padding: 0 35px;
  }
}
.reviews-card__txt-box::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 4px;
  background-image: url(../images/reviews/dots.png);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .reviews-card__txt-box::after {
    bottom: -4px;
  }
}
.reviews-card__txt {
  padding-bottom: 26px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .reviews-card__txt {
    font-size: 14px;
    line-height: 2.16;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-card__txt {
    font-size: 16px;
    line-height: 1.86;
  }
}
.reviews-card__name {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .reviews-card__name {
    margin-bottom: 32px;
  }
}
.slick-dots li {
  margin: 0 9px;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  padding: 0;
  border-radius: 50%;
}
.slick-dots li button::before {
  color: inherit;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  background-color: #ecebeb;
}

.slick-dots li.slick-active button {
  background-color: transparent;
}
.slick-dots li.slick-active button::before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../images/reviews/home.png);
  background-repeat: no-repeat;
  opacity: 1;
}

.ice-locations {
  background: linear-gradient(#ffffff 90px, #fff5f6 0 100%);
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .ice-locations {
    background: linear-gradient(#ffffff 115px, #fff5f6 0 100%);
  }
}
@media screen and (min-width: 1280px) {
  .ice-locations {
    background: linear-gradient(#ffffff 139px, #fff5f6 0 100%);
  }
}

.location {
  display: flex;
  flex-wrap: wrap;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.04em;
}
.location:not(:last-child) {
  margin-bottom: 32px;
}
.location__card {
  width: 280px;
  margin-bottom: 20px;
  padding: 43px 20px;
  font-size: 12px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.location__card:hover {
  transform: translateY(-15px);
}
.location__card:last-child {
  margin-bottom: 0;
}
.location__card__title--cafe, .location__card__title--foodtrack {
  display: inline-block;
  padding: 0 25px;
  margin-bottom: 25px;
  color: #ffffff;
  background-color: #f0d1a5;
  border-radius: 4px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.8;
}
.location__card__title--foodtrack {
  background-color: #c2e297;
}
.location__card__subtitle {
  color: #000000;
  font-size: 12px;
  margin-bottom: 10px;
}
.location__card__text {
  color: #907e82;
  line-height: 1.5;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}
.location__card__time__item__days {
  color: #000000;
  line-height: 1.8;
}
.location__card__time__item:not(:last-child) {
  margin-bottom: 10px;
}
.location__card__time__item__hours {
  color: #ffa5ba;
  line-height: 1.8;
}
.location__card__time {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}
.location__contacts__link {
  color: #907e82;
  line-height: 1.5;
}
.location__contacts__link:hover, .location__contacts__link:focus {
  color: #ffa5ba;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .location {
    flex-wrap: nowrap;
  }
  .location__card {
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
    margin-bottom: 0;
    padding: 50px 31px;
    font-size: 14px;
  }
  .location__card:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .location__card__title--cafe, .location__card__title--foodtrack {
    margin-bottom: 30px;
  }
  .location__card__subtitle, .location__card__subtitle {
    margin-bottom: 14px;
  }
  .location__card__text {
    line-height: 1.6;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .location__card__time__item:not(:last-child) {
    margin-bottom: 16px;
  }
  .location__card__time {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .location__card {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 0;
    padding: 51px 43px 62px;
    font-size: 16px;
  }
  .location__card:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .location__card__title--cafe, .location__card__title--foodtrack {
    margin-bottom: 32px;
  }
  .location__card__subtitle, .location__card__subtitle {
    margin-bottom: 10px;
  }
  .location__card__card__text {
    line-height: 1.8;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .location__card__time__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .location__card__time {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
  .location__contacts__link {
    color: #907e82;
    line-height: 1.8;
  }
}
@media screen and (min-width: 768px) {
  .btns-list {
    display: flex;
    justify-content: center;
  }
}
.btns-list__item {
  margin-left: auto;
  margin-right: auto;
  width: 162px;
  margin-bottom: 10px;
  border-radius: 22px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.btns-list__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .btns-list__item {
    min-width: 192px;
    margin: 0 15px 0 0;
  }
  .btns-list__item:last-child {
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .btns-list__item {
    min-width: 198px;
  }
}
.btns-list__item--red {
  background-color: #d31342;
}
.btns-list__item--white {
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btns-list__item--white:hover, .btns-list__item--white:focus {
  background-color: #ecebeb;
}
.btns-list__link {
  display: inline-block;
  padding: 12px 8px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .btns-list__link {
    padding: 12px 13px;
  }
}
@media screen and (min-width: 1280px) {
  .btns-list__link {
    padding: 12px 14px;
  }
}
.btns-list__link--white {
  color: #d31342;
}
.btns-list__link--red {
  color: #ffffff;
}

.arrow_icon-red {
  width: 8px;
  height: 10px;
  fill: #d41443;
}

.arrow_icon-white {
  width: 8px;
  height: 10px;
  fill: #ffffff;
}

.footer {
  background-color: #fff5f6;
}

.footer__container {
  padding-top: 57px;
  padding-bottom: 43px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}

.footer__heading {
  display: flex;
  flex-wrap: wrap;
  width: 234px;
}
.footer__heading-secondary, .footer__heading-primary {
  text-align: left;
}
@media screen and (min-width: 768px) {
  .footer__heading {
    width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__heading {
    width: 490px;
  }
}

.footer__heading-primary {
  margin-top: 16px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer__socials-item {
  width: 32px;
  height: 32px;
}
.footer__socials-item:not(:last-child) {
  margin-right: 28px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .footer__socials-item {
    width: 34px;
    height: 34px;
  }
  .footer__socials-item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__socials-item:not(:last-child) {
    margin-right: 25px;
  }
}

.socials-icon {
  display: block;
  color: #FEA5BB;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-icon:hover, .socials-icon:focus, .socials-icon:active {
  color: #d41443;
}

.socials-icon__svg {
  fill: currentColor;
  width: 34px;
  height: 34px;
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__contact-desc,
.footer__tel-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  .footer__contact-desc,
.footer__tel-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contact-desc,
.footer__tel-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }
}

.footer__contact-desc {
  color: #000000;
  margin-right: 3px;
}

.footer__tel-link {
  color: #d41443;
  letter-spacing: 0.02em;
}

.footer__copyright {
  border-top: 1px solid #e1e1e1;
}

.footer__copyright-text {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  color: #907E82;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  max-width: 149px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 3px;
}
@media screen and (min-width: 768px) {
  .footer__copyright-text {
    display: flex;
    max-width: 276px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copyright-text {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}/*# sourceMappingURL=index.css.map */