// font styles
$font-maim: 'DM Sans', sans-serif;
$font-title: 'Titan One', sans-serif;

// text colors
$txt-cl-white: #ffffff;
$txt-cl-title: #d41443;
$txt-cl-subtitle: #ffa5ba;
$txt-cl-main: #000000;
$txt-cl-secondary: #907e82;

// background colors section
$bg-cl-hero: #ffb8ca;
$bg-cl-products: #e5e5e5;
$bg-cl-about: #fff5f6;
$bg-cl-reviews: #fafafa;
$bg-cl-modal-input: #ffffff;

// background colors section element
$bg-cl-hero-ellipse: #ffa5ba;
$bg-cl-mobile-menu: #e17992;
$bg-cl-hero-dots: #ffffff;
$bg-cl-coffee: #f0d1a5;
$bg-cl-milkshakes: #c2e297;
$bg-cl-point: #c7133e;
$bg-cl-dots: #d9d9d9;
$bg-cl-dots-active: #d31342;
$bg-cl-footer-border: #e1e1e1;
$bg-cl-transparent: #ffffff00;

// batton background colors
$btn-cl-white: #ffffff;
$btn-cl-accent: #d41443;
$btn-cl-hover: #ecebeb;

// animations
$animations: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// mobile menu border color
$bg-cl-menu-border: #e18298;
