<div class="about-modal js-overlay-modal modal" data-modal="about" >
    <svg class="about-modal__cross js-modal-close js-modal-close">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    <div class="about-modal__title">
        <h2 class=" about-modal__read title" >Read me...</h2>
    </div>
    <div class="about-modal__box">
        <div class="about-modal__text">
                <p class="about-modal__descr subtitle"> My milkshake brings all the boys to the yard</p>
                <p class="about-modal__descr subtitle">And they're like, it's better than yours</p>
                <p class="about-modal__descr subtitle">Damn right it's better than yours</p>
                <p class="about-modal__descr subtitle">I can teach you, but I have to charge</p>
                <p class="about-modal__descr subtitle">My milkshake brings all the boys to the yard</p>
                <p class="about-modal__descr subtitle"> And they're like, it's better than yours</p>
                <p class="about-modal__descr subtitle"> Damn right it's better than yours</p>
                <p class="about-modal__descr subtitle">I can teach you, but I have to charge</p>
        </div>
        <form class="about-modal__form">
            <label class="about-modal__label" for="user-comment">Share your impressions of our product</label>
            <textarea class="about-modal__input" id="user-comment" name="user-comment" placeholder="Moooooo"></textarea>    
            <button class="about-modal__share button" type="submit">
                Share
                <svg class="about-modal__icon">
                    <use class="about-modal__icon-button" href="/src/images/sprite.svg#icon-arrow-short"></use>
                  </svg>
              </button>               
        </form>
</div>