
<section id="how-made" class="about section"> 

    <div class="about__bg-desctop">
        <picture class="about__img">
            <source srcset="./images/about/about-milk-bg-1200@1x.webp 1x, ./images/about/about-milk-bg-1200@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
            <source srcset="./images/about/about-milk-bg-1200@1x.png 1x, ./images/about/about-milk-bg-1200@2x.png 2x" media="(min-width: 1200px)" >
            <img class="about__bg-image" src="/src/images/about/about-milk-bg-1200@1x.png" alt="milk-bg">
            </picture>
    </div>
    <div class="about__container  container">
        <div class="about__title-box">
            <p class="subtitle about__label" >tradition and love</p>
            <h2 class="title about__title" >how it’s made?</h2>
        </div>
        <div class="about__main">
        <div class="about__cow-box">
        <picture class="about__img">
            <source srcset="./images/about/about-cow-1200@1x.webp 1x, ./images/about/about-cow-1200@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
            <source srcset="./images/about/about-cow-768@1x.webp 1x, ./images/about/about-cow-768@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
            <source srcset="./images/about/about-cow-320@1x.webp 1x, ./images/about/about-cow-320@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
            <source srcset="./images/about/about-cow-1200@1x.png 1x, ./images/about/about-cow-1200@2x.png 2x" media="(min-width: 1200px)" >
            <source srcset="./images/about/about-cow-768@1x.png 1x, ./images/about/about-cow-768@2x.png 2x" media="(min-width: 768px)" >
            <source srcset="./images/about/about-cow-320@1x.png 1x, ./images/about/about-cow-320@2x.png 2x" media="(min-width: 320px)" >
            <img class="about__img-cow" src="/src/images/about/about-cow-1200@1x.png" alt="image-cow">
           </picture>
        </div>
        <div class="about__box">
            <div class="about__bg-mobile">
                <picture>
                    <source srcset="./images/about/about-milk-bg-320@1x.webp 1x, ./images/about/about-milk-bg-320@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                    <source srcset="./images/about/about-milk-bg-320@1x.png 1x, ./images/about/about-milk-bg-320@2x.png 2x" media="(min-width: 320px)" >
                    <img class="about__bg-mob" src="/src/images/about/about-milk-bg-320@1x.png" alt="milk-bg-mobile">
                </picture>
            </div>
            <div class="about__text-box">
                <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
            </div>
            <div class="about__description-box">
                <p class="about__description">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. </p>
                <p class="about__description about__paragraph">Aliquam erat volutpat. Aenean accumsan.</p>
            </div>
            <div class="about__button-box">
                <button class="about__button button js-open-modal " data-modal="about" type="button">Read more  
                    <svg class="about__icon">
                    <use class="about__icon-button" href="/src/images/sprite.svg#icon-arrow-short"></use>
                  </svg>
                </button>
            </div>
        </div>
    </div>
        
</div>
</section>  
