<!-- advantages -->

<section class="section advantages" id="about">
  <div class="container">
    <h2 class="visually-hidden">Our advantages</h2>

    <ul class="advantages-grid list">
      <li class="advantages-grid__item advantages-grid__item--item1">
        <p class="advantages__text_axcent title" id="milk-count">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages-grid__item advantages-grid__item--item2">
        <p class="advantages__text_axcent title">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages-grid__item advantages-grid__item--item3">
        <p class="advantages__text_axcent title">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
