<footer id="footer" class="footer"> 
    <div class="footer__container container">
        <div class="footer__heading">
            <p class="footer__heading-secondary">homemade ice cream made</p>
            <p class="footer__heading-primary">with passion</p>
        </div>
        <div class="footer__contacts">
            <ul class="footer__socials">
                <li class="footer__socials-item">
                    <a class="socials-icon"
                        href="https://github.com/"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <svg class="socials-icon__svg">
                            <use href="./images/sprite.svg#icon-github"></use>
                        </svg>
                    </a>        
                </li>

                <li class="footer__socials-item">
                    <a class="socials-icon"
                        href="https://web.telegram.org/"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <svg class="socials-icon__svg">
                            <use href="./images/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>        
                </li>

                <li class="footer__socials-item">
                    <a class="socials-icon"
                        href="https://www.facebook.com/"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <svg class="socials-icon__svg">
                            <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>        
                </li>
            </ul>
            <p class="footer__tel">
                Feel free to contact 
                <a href="+61(0)383766284" class="footer__tel-link">+61 (0) 383 766 284</a> 
            </p>
        </div> 
    </div>

    <div class="footer__copyright">
        <p>&copy; 2022 - IceCream. All Rights Reserved.</p>
    </div>
</footer>