<footer id="footer" class="footer section"> 
    <div class="footer__container container">
        <div class="footer__heading">
            <p class="footer__heading-secondary subtitle">homemade ice cream made</p>
            <p class="footer__heading-primary title">with passion</p>
        </div>
        <div class="footer__contacts">
            <ul class="footer__socials list">
                <li class="footer__socials-item">
                    <a class="socials-icon link"
                        href="https://github.com/"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <svg class="socials-icon__svg">
                            <use href="./images/sprite.svg#icon-github"></use>
                        </svg>
                    </a>        
                </li>

                <li class="footer__socials-item">
                    <a class="socials-icon link"
                        href="https://web.telegram.org/"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <svg class="socials-icon__svg">
                            <use href="./images/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>        
                </li>

                <li class="footer__socials-item">
                    <a class="socials-icon link"
                        href="https://www.facebook.com/"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <svg class="socials-icon__svg">
                            <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>        
                </li>
            </ul>
            <div class="footer__contact">
                <p class="footer__contact-desc">Feel free to contact</p>
                <a href="tel:+61(0)383766284" class="footer__tel-link link">+61 (0) 383 766 284</a>
            </div>     
            
        </div> 
    </div>

    <div class="footer__copyright">
        <p class="footer__copyright-text">&copy; 2022 - IceCream. <b>All Rights Reserved.</b></p>
    </div>
</footer>