<section class="section gallery" id="gallery">
  <div class="container gallery">
    <h2 class="visually-hidden">gallery</h2>

    <div class="gallery-grid">
      <div class="gallery-grid__column col1">
        <div class="gallery-grid__item">
          <img src="./images/gallery/gallery-01-1200@1x.jpg" alt="" />
        </div>
      </div>

      <div class="gallery-grid__column">
        <div class="gallery-grid__item">
          <img src="./images/gallery/gallery-02-1200@1x.jpg" alt="" />
        </div>

        <div class="gallery-grid__item">
          <img src="./images/gallery/gallery-03-1200@1x.jpg" alt="" />
        </div>
      </div>

      <div class="gallery-grid__column gallery-grid__column">
        <div class="gallery-grid__item gallery-grid__item--wide">
          <img src="./images/gallery/gallery-04-1200@1x.jpg" alt="" />
        </div>

        <div class="gallery-grid__item">
          <img src="./images/gallery/gallery-05-1200@1x.jpg" alt="" />
        </div>
      </div>

      <div class="gallery-grid__column">
        <div class="gallery-grid__item">
          <img src="./images/gallery/gallery-06-1200@1x.jpg" alt="" />
        </div>

        <div class="gallery-grid__item">
          <img src="./images/gallery/gallery-07-1200@1x.jpg" alt="" />
        </div>
      </div>

      <div class="gallery-grid__column">
        <div class="gallery-grid__item">
          <img src="./images/gallery/gallery-08-1200@1x.jpg" alt="" />
        </div>

        <div class="gallery-grid__item">
          <img src="./images/gallery/gallery-09-1200@1x.jpg" alt="" />
        </div>
      </div>

      <div class="gallery-grid__column">
        <div class="gallery-grid__item">
          <img src="./images/gallery/gallery-10-1200@1x.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
