<section class="section gallery" id="gallery">
  <div class="container gallery">
    <h2 class="visually-hidden">gallery</h2>

    <div class="gallery-grid gallery-ice">
      <div class="gallery-grid__column">
        <!-- img 01   -->
        <a href="./images/gallery/view/gallery-01-1200@2x.jpg"
          ><div class="gallery-grid__item">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-01-1200@1x.webp 1x,
                  ./images/gallery/gallery-01-1200@2x.webp 2x
                "
                media="(min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-01-1200@1x.jpg 1x,
                  ./images/gallery/gallery-01-1200@2x.jpg 2x
                "
                media="(min-width: 1200px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-01-768@1x.webp 1x,
                  ./images/gallery/gallery-01-768@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-01-768@1x.jpg 1x,
                  ./images/gallery/gallery-01-768@2x.jpg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-01-320@1x.webp 1x,
                  ./images/gallery/gallery-01-320@2x.webp 2x
                "
                media="(min-width: 320px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-01-320@1x.jpg 1x,
                  ./images/gallery/gallery-01-320@2x.jpg 2x
                "
                media="(min-width: 320px)"
                type="image/jpeg"
              />
              <img
                class="gallery-img"
                src="./images/gallery/gallery-01-1200@1x.jpg"
                alt="popsicle"
              />
            </picture></div
        ></a>
      </div>

      <div class="gallery-grid__column">
        <!-- img 02   -->
        <a href="./images/gallery/view/gallery-02-1200@2x.jpg">
          <div class="gallery-grid__item">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-02-1200@1x.webp 1x,
                  ./images/gallery/gallery-02-1200@2x.webp 2x
                "
                media="(min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-02-1200@1x.jpg 1x,
                  ./images/gallery/gallery-02-1200@2x.jpg 2x
                "
                media="(min-width: 1200px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-02-768@1x.webp 1x,
                  ./images/gallery/gallery-02-768@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-02-768@1x.jpg 1x,
                  ./images/gallery/gallery-02-768@2x.jpg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-02-320@1x.webp 1x,
                  ./images/gallery/gallery-02-320@2x.webp 2x
                "
                media="(min-width: 320px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-02-320@1x.jpg 1x,
                  ./images/gallery/gallery-02-320@2x.jpg 2x
                "
                media="(min-width: 320px)"
                type="image/jpeg"
              />
              <img
                class="gallery-img"
                src="./images/gallery/gallery-02-1200@1x.jpg"
                alt="big ice-cream cone"
              />
            </picture>
          </div>
        </a>

        <!-- img 03   -->
        <a href="./images/gallery/view/gallery-03-1200@2x.jpg"
          ><div class="gallery-grid__item">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-03-1200@1x.webp 1x,
                  ./images/gallery/gallery-03-1200@2x.webp 2x
                "
                media="(min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-03-1200@1x.jpg 1x,
                  ./images/gallery/gallery-03-1200@2x.jpg 2x
                "
                media="(min-width: 1200px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-03-768@1x.webp 1x,
                  ./images/gallery/gallery-03-768@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-03-768@1x.jpg 1x,
                  ./images/gallery/gallery-03-768@2x.jpg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-03-320@1x.webp 1x,
                  ./images/gallery/gallery-03-320@2x.webp 2x
                "
                media="(min-width: 320px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-03-320@1x.jpg 1x,
                  ./images/gallery/gallery-03-320@2x.jpg 2x
                "
                media="(min-width: 320px)"
                type="image/jpeg"
              />
              <img
                class="gallery-img"
                src="./images/gallery/gallery-03-1200@1x.jpg"
                alt="raspberry ice-cream"
              />
            </picture></div
        ></a>
      </div>

      <div class="gallery-grid__column">
        <!-- img 04   -->
        <a href="./images/gallery/view/gallery-04-1200@2x.jpg"
          ><div class="gallery-grid__item gallery-grid__item--wide">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-04-1200@1x.webp 1x,
                  ./images/gallery/gallery-04-1200@2x.webp 2x
                "
                media="(min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-04-1200@1x.jpg 1x,
                  ./images/gallery/gallery-04-1200@2x.jpg 2x
                "
                media="(min-width: 1200px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-04-768@1x.webp 1x,
                  ./images/gallery/gallery-04-768@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-04-768@1x.jpg 1x,
                  ./images/gallery/gallery-04-768@2x.jpg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-04-320@1x.webp 1x,
                  ./images/gallery/gallery-04-320@2x.webp 2x
                "
                media="(min-width: 320px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-04-320@1x.jpg 1x,
                  ./images/gallery/gallery-04-320@2x.jpg 2x
                "
                media="(min-width: 320px)"
                type="image/jpeg"
              />
              <img
                class="gallery-img"
                src="./images/gallery/gallery-04-1200@1x.jpg"
                alt="many ice-cream cones"
              />
            </picture></div
        ></a>

        <!-- img 05   -->
        <a href="./images/gallery/view/gallery-05-1200@2x.jpg">
          <div class="gallery-grid__item">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-05-1200@1x.webp 1x,
                  ./images/gallery/gallery-05-1200@2x.webp 2x
                "
                media="(min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-05-1200@1x.jpg 1x,
                  ./images/gallery/gallery-05-1200@2x.jpg 2x
                "
                media="(min-width: 1200px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-05-768@1x.webp 1x,
                  ./images/gallery/gallery-05-768@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-05-768@1x.jpg 1x,
                  ./images/gallery/gallery-05-768@2x.jpg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-05-320@1x.webp 1x,
                  ./images/gallery/gallery-05-320@2x.webp 2x
                "
                media="(min-width: 320px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-05-320@1x.jpg 1x,
                  ./images/gallery/gallery-05-320@2x.jpg 2x
                "
                media="(min-width: 320px)"
                type="image/jpeg"
              />
              <img
                class="gallery-img"
                src="./images/gallery/gallery-05-1200@1x.jpg"
                alt="sweet girl with ice-cream"
              />
            </picture>
          </div>
        </a>
      </div>

      <div class="gallery-grid__column">
        <!-- img 06   -->
        <a href="./images/gallery/view/gallery-06-1200@2x.jpg">
          <div class="gallery-grid__item">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-06-1200@1x.webp 1x,
                  ./images/gallery/gallery-06-1200@2x.webp 2x
                "
                media="(min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-06-1200@1x.jpg 1x,
                  ./images/gallery/gallery-06-1200@2x.jpg 2x
                "
                media="(min-width: 1200px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-06-768@1x.webp 1x,
                  ./images/gallery/gallery-06-768@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-06-768@1x.jpg 1x,
                  ./images/gallery/gallery-06-768@2x.jpg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-06-320@1x.webp 1x,
                  ./images/gallery/gallery-06-320@2x.webp 2x
                "
                media="(min-width: 320px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-06-320@1x.jpg 1x,
                  ./images/gallery/gallery-06-320@2x.jpg 2x
                "
                media="(min-width: 320px)"
                type="image/jpeg"
              />
              <img
                class="gallery-img"
                src="./images/gallery/gallery-06-1200@1x.jpg"
                alt="ice-cream decoration"
              />
            </picture>
          </div>
        </a>
        <!-- img 07   -->
        <a href="./images/gallery/view/gallery-07-1200@2x.jpg">
          <div class="gallery-grid__item">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-07-1200@1x.webp 1x,
                  ./images/gallery/gallery-07-1200@2x.webp 2x
                "
                media="(min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-07-1200@1x.jpg 1x,
                  ./images/gallery/gallery-07-1200@2x.jpg 2x
                "
                media="(min-width: 1200px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-07-768@1x.webp 1x,
                  ./images/gallery/gallery-07-768@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-07-768@1x.jpg 1x,
                  ./images/gallery/gallery-07-768@2x.jpg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-07-320@1x.webp 1x,
                  ./images/gallery/gallery-07-320@2x.webp 2x
                "
                media="(min-width: 320px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-07-320@1x.jpg 1x,
                  ./images/gallery/gallery-07-320@2x.jpg 2x
                "
                media="(min-width: 320px)"
                type="image/jpeg"
              />
              <img
                class="gallery-img"
                src="./images/gallery/gallery-07-1200@1x.jpg"
                alt="hand with big ice-cream cone"
              />
            </picture>
          </div>
        </a>
      </div>

      <div class="gallery-grid__column">
        <!-- img 08   -->
        <a href="./images/gallery/view/gallery-08-1200@2x.jpg">
          <div class="gallery-grid__item">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-08-1200@1x.webp 1x,
                  ./images/gallery/gallery-08-1200@2x.webp 2x
                "
                media="(min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-08-1200@1x.jpg 1x,
                  ./images/gallery/gallery-08-1200@2x.jpg 2x
                "
                media="(min-width: 1200px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-08-768@1x.webp 1x,
                  ./images/gallery/gallery-08-768@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-08-768@1x.jpg 1x,
                  ./images/gallery/gallery-08-768@2x.jpg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-08-320@1x.webp 1x,
                  ./images/gallery/gallery-08-320@2x.webp 2x
                "
                media="(min-width: 320px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-08-320@1x.jpg 1x,
                  ./images/gallery/gallery-08-320@2x.jpg 2x
                "
                media="(min-width: 320px)"
                type="image/jpeg"
              />
              <img
                class="gallery-img"
                src="./images/gallery/gallery-08-1200@1x.jpg"
                alt="dog eating ice-cream"
              />
            </picture>
          </div>
        </a>

        <!-- img 09   -->
        <a href="./images/gallery/view/gallery-09-1200@2x.jpg">
          <div class="gallery-grid__item">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-09-1200@1x.webp 1x,
                  ./images/gallery/gallery-09-1200@2x.webp 2x
                "
                media="(min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-09-1200@1x.jpg 1x,
                  ./images/gallery/gallery-09-1200@2x.jpg 2x
                "
                media="(min-width: 1200px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-09-768@1x.webp 1x,
                  ./images/gallery/gallery-09-768@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-09-768@1x.jpg 1x,
                  ./images/gallery/gallery-09-768@2x.jpg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-09-320@1x.webp 1x,
                  ./images/gallery/gallery-09-320@2x.webp 2x
                "
                media="(min-width: 320px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-09-320@1x.jpg 1x,
                  ./images/gallery/gallery-09-320@2x.jpg 2x
                "
                media="(min-width: 320px)"
                type="image/jpeg"
              />
              <img
                class="gallery-img"
                src="./images/gallery/gallery-09-1200@1x.jpg"
                alt="milk shake"
              />
            </picture>
          </div>
        </a>
      </div>

      <div class="gallery-grid__column">
        <!-- img 10   -->
        <a href="./images/gallery/view/gallery-10-1200@2x.jpg">
          <div class="gallery-grid__item">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-10-1200@1x.webp 1x,
                  ./images/gallery/gallery-10-1200@2x.webp 2x
                "
                media="(min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-10-1200@1x.jpg 1x,
                  ./images/gallery/gallery-10-1200@2x.jpg 2x
                "
                media="(min-width: 1200px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-10-768@1x.webp 1x,
                  ./images/gallery/gallery-10-768@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-10-768@1x.jpg 1x,
                  ./images/gallery/gallery-10-768@2x.jpg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/gallery/gallery-10-320@1x.webp 1x,
                  ./images/gallery/gallery-10-320@2x.webp 2x
                "
                media="(min-width: 320px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/gallery-10-320@1x.jpg 1x,
                  ./images/gallery/gallery-10-320@2x.jpg 2x
                "
                media="(min-width: 320px)"
                type="image/jpeg"
              />
              <img
                class="gallery-img"
                src="./images/gallery/gallery-10-1200@1x.jpg"
                alt="ice-cream cake and milk jug"
              />
            </picture>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
