<div class="header-hero__container">
  <section class="section">
    <div class="header container">
      <div class="logo__section">
        <svg class="logo__svg"><use></use></svg>
        <span class="logo__title"></span>
      </div>

      <nav class="nav">
        <ul class="nav__list list">
          <li class="nav__item">
            <a class="nav__link link" href="#">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" href="#">About us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" href="#">How it's made?</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" href="#">Our products</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="header-btn__section">
        <button class="header-btn__burger" type="button">ham</button>
        <button class="header-btn__buy" type="button">BUY</button>
      </div>
      <div class="icecream__ellipse"></div>
    </div>

    <div class="hero container">
      <h1 class="hero__title">
        ice cream made with <span class="accent"> passion </span>
      </h1>
      <ul class="hero__btn list">
        <li class=""><a href="#" class="hero__link link">Products</a></li>
        <li class="">
          <a href="#" class="hero__link link">How it’s made?</a>
        </li>
      </ul>

      <article class="hero__article">
        <div class="article__pic-place"></div>
        <img class="" />
        <div>
          <p class="article__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni quas
            officiis quia beatae velit nihil?
          </p>
          <button class="article__btn">&#8594;</button>
        </div>
      </article>

      <ul class="insert list">
        <li class="cafes insert__item">
          <p class="insert__number">16</p>
          <p class="insert__title">cafes</p>
          <div class="insert__dots"></div>
        </li>
        <li class="tracks insert__item">
          <p class="insert__number">23</p>
          <p class="insert__title">food-tracks</p>
          <div class="insert__dots"></div>
        </li>
      </ul>
    </div>
  </section>
</div>
