<!-- Потрібно добавити в елементи виклику -->

<!-- class="js-open-modal" data-modal="1" -->
<!-- class="js-open-modal" data-modal="2" -->

<!-- Декілька модільних вікон-->

<div class="modal" data-modal="1">
  <!--   Svg іконка для закриття  -->
  <svg class="modal__cross js-modal-close">
    <use href="./images/sprite.svg#icon-cross"></use>
  </svg>
  <p class="modal__title title">Buy now</p>
  <form class="modal__form form">
    <label class="form__fild">
      <span class="form__text">Name</span>
      <input type="text" name="name" class="form__input" />
    </label>

    <label class="form__fild">
      <span class="form__text">Number</span>
      <input type="tel" name="tel" class="form__input" />
    </label>

    <label class="form__fild form__fild--last">
      <span class="form__text">Comment</span>
      <textarea
        name="comment"
        placeholder="Enter text"
        class="form__input form__input--comment"
      ></textarea>
    </label>

    <label class="checkbox">
      <input type="checkbox" class="checkbox__input" checked />
      <span class="checkbox__new-box"></span>

      <span class="form__text checkbox__text">
        I agree with the mailing and accept it <br />
        <a href="" class="checkbox__link">Terms of the contract</a>
      </span>
    </label>

    <button type="submit" class="button modal__btn">Send</button>
  </form>
</div>

<div class="modal" data-modal="2">
  <!--   Svg іконка для закриття  -->
  <svg class="modal__cross js-modal-close">
    <use href="./images/sprite.svg#icon-cross"></use>
  </svg>
  <p class="modal__title">Заголовок вікна 2</p>
</div>

<!-- Підложка під модальне вікно -->
<div class="overlay js-overlay-modal"></div>
