<section class="reviews">
  <h2 class="visually-hidden">Customer Reviews</h2>
  <div class="one-time">
    <div class="reviews__card">
      <img
        class="reviews__photo"
        src="#"
        alt="photo"
        width="85px"
        height="85px"
      />
      <p class="reviews__txt">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <h3 class="reviews">Emily, Los Angeles</h3>
    </div>
    <div class="reviews__card">
      <img
        class="reviews__photo"
        src="#"
        alt="photo"
        width="85px"
        height="85px"
      />
      <p class="reviews__txt">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <h3 class="reviews">Ann, Chicago</h3>
    </div>
    <div class="reviews__card">
      <img
        class="reviews__photo"
        src="#"
        alt="photo"
        width="85px"
        height="85px"
      />
      <p class="reviews__txt">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <h3 class="reviews">Kate, New York</h3>
    </div>
  </div>
</section>
