<section class="reviews section">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="one-time">
      <div class="reviews__card reviews-card">
        <div class="reviews-card__box">
          <img
            class="reviews-card__photo"
            src="./images/reviews/review-1@1x.png"
            alt="photo"
            width="85px"
            height="85px"
          />
          <div class="reviews-card__txt-box">
            <p class="reviews-card__txt">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <h3 class="reviews-card__name">Emily, Los Angeles</h3>
        </div>
      </div>
      <div class="reviews-card reviews__card">
        <div class="reviews-card__box">
          <img
            class="reviews-card__photo"
            src="./images/reviews/review-2@1x.png"
            alt="photo"
            width="85px"
            height="85px"
          />
          <div class="reviews-card__txt-box">
            <p class="reviews-card__txt">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <h3 class="reviews-card__name">Ann, Chicago</h3>
        </div>
      </div>
      <div class="reviews__card reviews-card">
        <div class="reviews-card__box">
          <img
            class="reviews-card__photo"
            src="./images/reviews/review-3@1x.png"
            alt="photo"
            width="85px"
            height="85px"
          />
          <div class="reviews-card__txt-box">
            <p class="reviews-card__txt">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <h3 class="reviews-card__name">Kate, New York</h3>
        </div>
      </div>
    </div>
  </div>
</section>
