.header-hero__container {
    background-color: $bg-cl-hero;
    overflow: hidden;

}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-family: $font-maim;
    position: relative;
    z-index: 10;
    
    &.container {    
        padding-top: 8px;
        padding-bottom: 135px;
        @media screen and (min-width:780px) {
            padding-top: 32px;
            padding-bottom: 20px;
        }
        @media screen and (min-width:1200px) {
                    padding-top: 37px;
                    padding-bottom: 60px;
        }
    }
    &__btn-section {

    }

}

.logo {
    &__section {

    }

    &__svg {
        display: block;
        width: 200px;
            height: 50px;
            background: yellow;
    }

    &__title {

    }


}



.nav {
    display: none;
    z-index: 10;
    
    @media screen and (min-width:1200px) {
        
    
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    }

    &__list {
        display: flex;
        
    }

    &__item {

        &:not(:last-child) {
            margin-right: 35px;
        }
    }
    &__link {
        color: $txt-cl-white;
        &:hover {
            color: $txt-cl-title;
            
        }
    }
    
}

.header-btn {
    
    &__section {
        display: flex;
            align-items: center;
    }
    &__burger {

    }
    &__buy{
        display: none;
        @media screen and (min-width:1200px) {
            display: block;
            margin-left: 32px;
        }
        

    }

}