* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menuItem {
  display: block;
  padding: 11px 20px;

  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;

  border: 1px solid $bg-cl-menu-border;
  transition: color $animations, box-shadow $animations;

  &:hover {
    color: $txt-cl-title;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.hamburger {
  position: absolute;
  z-index: 100;
  top: 20px;
  right: 20px;
  padding: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    top: 40px;
    right: 220px;
  }
}
.menuIcon {
  color: $btn-cl-accent;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.closeIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 4px;

  color: $txt-cl-white;
  background-color: inherit;

  &:hover,
  &:focus {
    color: $txt-cl-title;
  }
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.2s;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;

  z-index: 99;
  background: $bg-cl-mobile-menu;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateX(0);
}

// .mobile-menu {
//   position: fixed;
//   top: 0;
//   right: 0;
//   width: 250px;
//   height: 100vh;
//   padding: 20px 0;
//   background-color: $bg-cl-mobile-menu;
//   font-family: 'DM Sans';
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.3;
//   color: $txt-cl-white;
//   box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
//   transition: transform 1000ms;
//   transform: translateX(0);

//   &.is-hidden {
//     transform: translateX(115%);
//   }

//      &__close {
//          display: block;

//          margin-left: auto;
//          margin-right: 25px;
//          padding: 0;
//          color: $txt-cl-white;
//          background-color: inherit;

//          &:hover,
//          &:focus {
//              color: $txt-cl-title;
//          }

//          &-logo {
//              display: block;
//              width: 30px;
//              height: 30px;
//              fill: currentColor;

//          }

//      }

//      &__list {}

//      &__item {}

//      &__link {
//          display: block;
//          padding: 11px 20px;
//          border: 1px solid $bg-cl-menu-border;
//         transition: color $animations, box-shadow $animations;

//          &:hover {
//              color: $txt-cl-title;
//              box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
//          }

//      }
//  }
