/* Стилі підложки */

.overlay {
  /* Приховуємо підложку */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стилі модального вікна */

.modal {
  /* Приховуємо вікно  */
  opacity: 0;
  visibility: hidden;

  /*  Встановлюємо ширину вікна  */
  width: 100%;
  max-width: 500px;

  /*  Центрируємо і задаемо z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Має бути більше ніж в підложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

/* Стилі для активних класів */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стилі для кнопки закриття */

.modal__cross {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}
