.ice-locations {
  background-image: linear-gradient(#fff, #fff5f6);
}

//* for mobile *//

.location {
  display: flex;
  flex-wrap: wrap;
  font-family: $font-maim;
  letter-spacing: 0.04em;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &__card {
    width: 280px;
    margin-bottom: 20px;
    padding: 43px 20px;
    font-size: 12px;
    background: $txt-cl-white;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    transition: $animations;
  }

  &__card:hover {
    transform: translateY(-15px);
  }

  &__card:last-child {
    margin-bottom: 0;
  }

  &__card__title--cafe,
  &__card__title--foodtrack {
    display: inline-block;
    padding: 0 25px;
    margin-bottom: 25px;
    color: $txt-cl-white;
    background-color: $bg-cl-coffee;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.8;
  }

  &__card__title--foodtrack {
    background-color: $bg-cl-milkshakes;
  }

  &__card__subtitle {
    color: $txt-cl-main;
    font-size: 12px;
    margin-bottom: 10px;
  }

  &__card__text {
    color: $txt-cl-secondary;
    line-height: 1.5;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid $bg-cl-footer-border;
  }

  &__card__time__item__days {
    color: $txt-cl-main;
    line-height: 1.8;
  }

  &__card__time__item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__card__time__item__hours {
    color: $txt-cl-subtitle;
    line-height: 1.8;
  }

  &__card__time {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid $bg-cl-footer-border;
  }

  &__contacts__link {
    color: $txt-cl-secondary;
    line-height: 1.5;
  }

  &__contacts__link:hover,
  &__contacts__link:focus {
    color: $btn-cl-accent;
  }
}

//* for tablet *//

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .location {
    flex-wrap: nowrap;

    &__card {
      width: calc((100% - 40px) / 3);
      margin-right: 20px;
      margin-bottom: 0;
      padding: 50px 31px;
      font-size: 14px;
    }

    &__card:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    &__card__title--cafe,
    &__card__title--foodtrack {
      margin-bottom: 30px;
    }

    &__card__subtitle,
    &__card__subtitle {
      margin-bottom: 14px;
    }

    &__card__text {
      line-height: 1.6;
      margin-bottom: 30px;
      padding-bottom: 30px;
    }

    &__card__time__item:not(:last-child) {
      margin-bottom: 16px;
    }

    &__card__time {
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
  }
}

//* for descktop *//

@media screen and (min-width: 1280px) {
  .location__card {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 0;
    padding: 51px 43px 62px;
    font-size: 16px;

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    &__title--cafe,
    &__title--foodtrack {
      margin-bottom: 32px;
    }

    &__subtitle,
    &__subtitle {
      margin-bottom: 10px;
    }

    &__card__text {
      line-height: 1.8;
      margin-bottom: 30px;
      padding-bottom: 30px;
    }

    &__time__item:not(:last-child) {
      margin-bottom: 15px;
    }

    &__time {
      padding-bottom: 32px;
      margin-bottom: 32px;
    }
  }

  .location__contacts__link {
    color: $txt-cl-secondary;
    line-height: 1.8;
  }
}

.btns-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }

  &__item {
    margin-left: auto;
    margin-right: auto;
    width: 162px;
    margin-bottom: 10px;
    border-radius: 22px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
      min-width: 192px;
      margin: 0 15px 0 0;

      &:last-child {
        margin: 0;
      }

      @media screen and (min-width: 1280px) {
        min-width: 198px;
      }
    }
  }

  &__item--red {
    background-color: $bg-cl-dots-active;
  }

  &__item--white {
    background-color: $txt-cl-white;
    transition: background-color $animations;
  }

  &__item--white:hover,
  &__item--white:focus {
    background-color: $btn-cl-hover;
  }

  &__link {
    display: inline-block;
    padding: 12px 8px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.31;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding: 12px 13px;
    }

    @media screen and (min-width: 1280px) {
      padding: 12px 14px;
    }
  }

  &__link--white {
    color: $bg-cl-dots-active;
  }

  &__link--red {
    color: $txt-cl-white;
  }
}

.arrow_icon-red {
  width: 8px;
  height: 10px;
  fill: #d41443;
}

.arrow_icon-white {
  width: 8px;
  height: 10px;
  fill: $txt-cl-white;
}
