.footer {
    background-color: $bg-cl-about;
}
 
.footer__container {
    padding-top: 57px;
    padding-bottom: 43px;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 40px;

    }

    @media screen and (min-width: 1200px) {
      padding-top: 120px;  
      padding-bottom: 60px;
    }
}

.footer__heading {
    display: flex;
    flex-wrap: wrap;
    width: 234px;
    
    
    &-secondary,
    &-primary {
    text-align: left;
    }

    @media screen and (min-width: 768px) {
      width: 340px;
    }

    @media screen and(min-width: 1200px) {
      width: 490px;
      height: 116px;
      margin-top: 35px;
    }
}


.footer__heading-primary {
    margin-top: 16px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // margin: 10px;
}

.footer__socials {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 40px
}

.footer__socials-item {
    width: 32px;
    height: 32px;
    &:not(:last-child) {
      margin-right: 28px;
      padding-right: 20px;
    }

    @media screen and(min-width: 768px) {
      width: 34px;
      height: 34px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    @media screen and(min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  }

.socials-icon {
    display: block;
    color: #FEA5BB;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus,
    &:active {
      color: $txt-cl-title;
    }
  }

.socials-icon__svg {
    fill: currentColor;
    width: 34px;
    height: 34px;
  }

  .footer__contact {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

.footer__contact-desc,
.footer__tel-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;

    @media screen and(min-width: 768px) {
      font-weight: 700;
      font-size: 14px;
      line-height: 26px;
    }

    @media screen and(min-width: 1200px) {
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
    }
  }

.footer__contact-desc {
    color: $txt-cl-main;
    margin-right: 3px;
  }

.footer__tel-link {
    color: $txt-cl-title;
    letter-spacing: 0.02em;
    font-family: $font-maim;
  }

.footer__copyright {
    border-top: 1px solid $bg-cl-footer-border;
  }

.footer__copyright-text {
    font-family:$font-maim;
    text-align: center;
    color: #907E82;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    max-width: 149px;
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 3px;

    @media screen and(min-width: 768px) {
        display: flex;
        max-width: 276px;
        padding-top: 10px;
        padding-bottom: 10px;
        letter-spacing: 0.02em;
      }
  
      @media screen and(min-width: 1200px) {
        padding-top: 9px;
        padding-bottom: 10px;
      }
    
}  