.gallery {
  background-image: linear-gradient(#fff5f6, #fff);
  padding-top: 0;

  @media screen and(min-width:1200px) {
    padding-top: 60px;
  }
}

.gallery__container {
  margin: 0 auto;
  max-width: 320px;

  @media screen and(min-width:768px) {
    max-width: 768px;
  }

  @media screen and(min-width:1200px) {
    max-width: 1013px;
    margin: 0 auto;
  }
}
