// .header-hero__container {
//     background-color: $bg-cl-hero;
//     overflow: hidden;

// }
.section.header-hero {
  // padding-top: 0;
  // padding-bottom: 0;
  background-color: $bg-cl-hero;
  overflow: hidden;
}

// хедер
.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: $font-maim;
  position: relative;
  z-index: 15;
  // затримка появи ХЕДЕРУ
  opacity: 0;
  animation: opacity 1s forwards 2s;

  &.container {
    padding-top: 8px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
      padding-top: 32px;
      padding-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 37px;
      padding-bottom: 60px;
    }
  }
}
// лого в хедері
.logo {
  &__section {
  }

  &__svg {
    display: block;
    width: 200px;
    height: 50px;
    fill: $txt-cl-title;
  }

  &__title {
  }
}

//  блок кнопок навігації

.nav {
  display: none;
  z-index: 10;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__link {
    color: $txt-cl-white;
    transition: color $animations;

    &:hover {
      color: $txt-cl-title;
    }
  }
}

//  блок кнопок в правій частині хедера - мобільне меню і "купити"
.header-btn {
  &__section {
    display: flex;
    align-items: center;
  }

  &__burger {
    border: none;
    background-color: transparent;
    display: flex;
    padding: 0;
    align-items: center;
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__buy {
    align-items: center;
    justify-content: space-between;
    height: 44px;
    width: 160px;
    padding-left: 37px;
    padding-right: 37px;
    &.mobile {
      display: flex;
      width: 209px;
      padding-left: 49px;
      padding-right: 49px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;
      margin-bottom: 30px;
      @media screen and (min-width: 768px) {
        width: 186px;
        padding-left: 43px;
        padding-right: 43px;
      }
    }

    &.position {
      display: none;

      @media screen and (min-width: 768px) {
        margin-left: 32px;
        display: flex;
      }
    }
  }
}

.buy__logo {
  width: 8px;
  height: 10px;
}

.burger {
  &__logo {
    width: 30px;
    height: 30px;
    fill: $txt-cl-title;
  }
}

//  головні картинки - еліпс та велике морозиво
.icecream {
  &__ellipse {
    position: absolute;
    bottom: 40px;
    left: 36px;
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background-color: $bg-cl-hero-ellipse;
    z-index: -1;
    //
    animation: pulsing 1s forwards;

    @media screen and (min-width: 768px) {
      left: 248px;
      width: 335px;
      height: 333px;
    }
    @media screen and (min-width: 1200px) {
      bottom: 80px;
      left: 517px;
      width: 534px;
      height: 534px;
    }
  }
  &__img {
    display: block;
    max-width: 100%;
    width: 171px;
    @media screen and (min-width: 768px) {
      width: 143px;
    }

    @media screen and (min-width: 1200px) {
      width: 236px;
    }
  }
  &__pic {
    position: absolute;

    bottom: 0px;
    left: 117px;
    z-index: -1;

    @media screen and (min-width: 768px) {
      left: 322px;
    }

    @media screen and (min-width: 1200px) {
      left: 636px;
    }
  }
}

// секція Хіро
.hero {
  position: relative;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: $txt-cl-white;
  z-index: 10;

  &.container {
    padding-top: 0px;
    padding-bottom: 158px;

    @media screen and (min-width: 768px) {
      padding-bottom: 16px;
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 60px;
    }
  }

  &__title {
    display: block;
    max-width: 220px;
    font-size: 26px;
    line-height: 1.15;

    @media screen and (min-width: 768px) {
      font-size: 22px;
      max-width: 165px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 277px;
      font-size: 38px;
    }

    & .accent {
      display: flex; //для анімації
      white-space: nowrap; //для анімації
      overflow: hidden; //для анімації
      color: $txt-cl-title;
      font-size: 34px;
      line-height: 0.9;
      width: 7ch; //для анімації
      // анімація появи
      animation: title-print 500ms steps(8) 2000ms;
      @media screen and (max-width: 767px) {
        opacity: 0;
        animation: opacity 1s forwards 1s;
      }
      @media screen and (min-width: 1200px) {
        font-size: 58px;
      }
    }
  }

  &__btn {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    // затримка появи лінков під заголовком
    opacity: 0;
    animation: opacity 1s forwards 3s;
    @media screen and (min-width: 1200px) {
      margin-top: 24px;
      margin-bottom: 40px;
    }
  }

  &__link {
    &:last-child {
      margin-left: 12px;
    }
    &-a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 8px;
      font-weight: 400;

      height: 24px;
      @media screen and (min-width: 1200px) {
        height: 40px;
        font-size: 14px;
      }
      // кнопка 1
      &.a {
        width: 62px;
        background-color: $txt-cl-title;
        color: $txt-cl-white;
        @media screen and (min-width: 1200px) {
          width: 107px;
        }
        &:hover,
        &:focus {
          color: $txt-cl-title;
          background-color: $btn-cl-hover;
        }
      }
      // кнопка 2
      &.b {
        width: 83px;

        @media screen and (min-width: 1200px) {
          width: 138px;
        }
      }
    }
  }
  &__article {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
}
// стилізація основного заголовку
h1 {
  font-family: $font-title;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.15;
  text-transform: uppercase;
}

// блочна вставка з картинкою, текстом і кнопкою в нижній лівій частині Хіро
.article {
  &__pic-place {
    @media screen and (min-width: 768px) {
      width: 152px;
      height: 154px;
    }

    @media screen and (min-width: 1200px) {
      width: 213px;
      height: 216px;
    }
  }
  &__contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // затримка появи контейнеру з текстом поряд з молоком
    opacity: 0;
    animation: opacity 1s forwards 3s;
  }
  &__pic {
    position: absolute;
    // milk appear animation
    transform: translateX(-250%);
    animation: move-milk 1s forwards 2s;
  }
  &__text {
    width: 114px;
    font-family: $font-maim;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.4;
      width: 200px;
    }
  }
  &__btn {
    margin-top: 20px;
    width: 18px;
    height: 18px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: $txt-cl-white;
    color: $txt-cl-title;
    @media screen and (min-width: 768px) {
      margin-top: 8px;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 20px;
      width: 26px;
      height: 26px;
    }
    & > svg {
      width: 6px;
      height: 6px;
      fill: currentColor;
      @media screen and (min-width: 1200px) {
        width: 8px;
          height: 8px;
      }
    }
  }
}

// додаткові спозиціоновані компоненти
.insert {
  display: none;
  position: absolute;
  text-align: right;

  @media screen and (min-width: 768px) {
    display: block;
    top: 0;
    right: 0;
  }
  &__item {
    // анімована поява лічильників з затримкою
    opacity: 0;
    animation: opacity 1s forwards 3s;

    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $bg-cl-hero-dots;
      z-index: -1;
    }
    &:last-child {
      margin-top: 16px;
    }
  }

  &__number {
    font-family: $font-title;
    font-weight: 400;
    font-size: 46px;
    line-height: 1.15;
    margin-right: 10px;
    text-transform: uppercase;
    color: $txt-cl-title;
    z-index: 5;
  }

  &__title {
    font-family: $font-maim;
    font-size: 8px;
    line-height: 1.3;
    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }
  &__girl {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 190px;
    height: 150px;
    // анімація появи дівчинки
    transform: translateX(150%);

    animation: girl 1s forwards 1000ms;
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 1200px) {
      width: 304px;
      height: 241px;
    }
  }
}
